.container {
    margin: 0 1rem;
    background-color: darkblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    width: auto;
    height: 100%;
    overflow-y: scroll;
}