.container {
    .title {
        font-size: larger;
        font-weight: 700;
        color:darkblue;
        margin: 1.5rem;
        padding: 2.5rem;
    }

    display: grif;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px auto 100px;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}