.container {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: darkblue;
    border-radius: 10px;

    input {
        color: white;
        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
            color: white;
        }
    }
}