.container {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: darkblue;
    border-radius: 10px;

    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }
}